<a href="https://colab.research.google.com/github/shubh09-pixel/Python-Basic/blob/main/Data_Types_and_Structures_Practical_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Subhanjali Tomar"
print(my_name)

Subhanjali Tomar

#### 2. Write a code to find the length of the string "Hello World".

In [ ]:
# Create the string
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the length
print(length)

11

#### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Create the string
text = "Python Programming"

# Slice the first 3 characters
first_three = text[:3]

# Print the result
print(first_three)

Pyt

#### 4. Write a code to convert the string "hello" to uppercase .

In [ ]:
# Create the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print(uppercase_text)

HELLO

#### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
# Create the string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print(new_text)

I like orange

#### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

#### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Create the list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
# Create the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Create the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Create the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Create a tuple
numbers_tuple = (100, 200, 300)

# Print the tuple
print(numbers_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Create the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Create the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the result
print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Create the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_cat = animals.index("cat")

# Print the result
print(index_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Create the tuple
fruits = ("apple", "banana", "orange")

# Check if "kiwi" is in the tuple
is_kiwi_present = "kiwi" in fruits

# Print the result
print(is_kiwi_present)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Create a set
letters_set = {'a', 'b', 'c'}

# Print the set
print(letters_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Create the set
numbers_set = {1, 2, 3, 4, 5}

# Clear all elements
numbers_set.clear()

# Print the cleared set
print(numbers_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# Create the set
numbers_set = {1, 2, 3, 4}

# Remove the element 4
numbers_set.remove(4)

# Print the updated set
print(numbers_set)

{1, 2, 3}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Create the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1 & set2  # or set1.intersection(set2)

# Print the result
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# Create the dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# Create the dictionary
person = {'name': 'John', 'age': 25}

# Add a new key-value pair
person["country"] = "USA"

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# Create the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = person["name"]

# Print the value
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# Create the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop("age")  # or use del person["age"]

# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# Create the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
key_exists = "city" in person

# Print the result
print(key_exists)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = (4, 5, 6)

# Create a dictionary
my_dict = {"name": "Alice", "age": 25}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result (replaced).

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()  # This modifies the list in place

# Print the sorted list
print(random_numbers)

[4, 29, 42, 72, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list of strings
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Access the element at the third index
element_at_index_3 = fruits[3]

# Print the element
print(element_at_index_3)

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Create two dictionaries
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [ ]:
# Create a list of strings
fruits_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list into a set
fruits_set = set(fruits_list)

# Print the set
print(fruits_set)

{'banana', 'cherry', 'apple'}